:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family:monospace;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
}

.fluid-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.bill-headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.bill-headers span {
    flex: 1;
    text-align: center;
}